#nome {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#sobremim {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #DBD8F0;
}

strong {
    color: black;
}

.habilidade1{
    font-size: 24px;
}

.habilidade2{
    font-size: 23px;
}

.habilidade3{
    font-size: 22px;
}

.habilidade4{
    font-size: 21px;
}

.habilidade5{
    font-size: 20px;
}

#mari {
    float: left;
    padding: 20px;
    height: 196px;
    background-color: #DBD8F0;
}

.img-conteiner {
    height: 230px;
}

.aboutme {
    margin: 15px;  
    padding: 10px;  
}

li:nth-child(odd) {
    font-size: 23px;
}
