#nome {
    font-family: 'Lato', sans-serif;
}

#sobremim {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #DBD8F0;
}

strong {
    color: black;
}

habilidade1{
    font-size: 24px;
}

.habilidade2{
    font-size: 23px;
}

.habilidade3{
    font-size: 22px;
}

.habilidade4{
    font-size: 21px;
}

.habilidade5{
    font-size: 20px;
}